p{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: #aa6805;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: #36a2aa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: #aa6805;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
}

h4{
    color: #247e85;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:22px;
}

a{
    color:#aa6805;
    font-family:'Courier New', Courier, monospace;
    size: 10px;
}

img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    border-width: 3px;
    border-color:black;
    border: solid;
}

body{
    background-color: rgb(235, 233, 233);
}

.hobbit-img{
    width: 230px;
}

div {
    width: 100%;
}

.split-box {
    display: flex;
    align-items: center;
}